name: bruig
description: Bison Relay UI (Graphical)

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.1.10

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  io: ^1.0.4
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  #dart_vlc: 0.1.8
  #dart_vlc_ffi: 0.1.5
  golib_plugin:
    path: "../plugin"
  provider: ^6.0.0
  path: ^1.8.0
  video_player: ^2.2.5
  crypto: ^3.0.1
  ini: ^2.1.0
  args: ^2.3.0
  tuple: ^2.0.0
  window_manager: ^0.3.1
  shared_preferences: ^2.0.15
  intl: ^0.18.1
  sidebarx: ^0.16.1
  markdown: ^7.0.0
  file_picker: ^5.2.6
  path_provider: ^2.0.11
  url_launcher: ^6.1.6
  msix: ^3.6.3
  qr_flutter: ^4.1.0
  file_icon: ^1.0.0
  package_info_plus: ^4.1.0
  open_filex: ^4.3.2
  loading_animation_widget: ^1.2.0
  scrollable_positioned_list: ^0.3.8
  duration: ^3.0.3
  flutter_svg: ^2.0.7
  flutter_markdown:
    git:
      url: https://github.com/tiagoalvesdulce/packages
      ref: main
      path: packages/flutter_markdown

msix_config:
  display_name: Bison Relay GUI
  publisher_display_name: Company 0, LLC
  store: false
  msix_version: 0.1.10.0
  icons_background_color: "#ffffff"
  architecture: x64
  capabilities: "internetClient"

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.13.1

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icons/icon_32x32.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    image_path: "assets/icons/icon_32x32.png"
    background_color: "#FFFFFFF"
    theme_color: "#FFFFFFF"
  windows:
    generate: true
    image_path: "assets/icons/icon_32x32.png"
    icon_size: 48 # min:48, max:256, default: 48
  macos:
    generate: true
    image_path: "assets/icons/icon_32x32.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/chat-bg.png
    - assets/images/
    - assets/icons/icons-menu-chat.svg
    - assets/icons/icons-menu-files.svg
    - assets/icons/icons-menu-lnmng.svg
    - assets/icons/icons-menu-news.svg
    - assets/icons/icons-menu-pages.svg
    - assets/icons/icons-menu-settings.svg
    - assets/icons/icons-menu-stats.svg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.otf
        - asset: assets/fonts/Inter-Italic.otf
          style: italic
        - asset: assets/fonts/Inter-Black.otf
          weight: 900
        - asset: assets/fonts/Inter-BlackItalic.otf
          weight: 900
          style: italic
        - asset: assets/fonts/Inter-ExtraBold.otf
          weight: 800
        - asset: assets/fonts/Inter-ExtraBoldItalic.otf
          weight: 800
          style: italic
        - asset: assets/fonts/Inter-ExtraBold.otf
          weight: 800
        - asset: assets/fonts/Inter-ExtraBoldItalic.otf
          weight: 800
          style: italic
        - asset: assets/fonts/Inter-Bold.otf
          weight: 700
        - asset: assets/fonts/Inter-BoldItalic.otf
          weight: 700
          style: italic
        - asset: assets/fonts/Inter-SemiBold.otf
          weight: 600
        - asset: assets/fonts/Inter-SemiBoldItalic.otf
          weight: 600
          style: italic
        - asset: assets/fonts/Inter-Medium.otf
          weight: 500
        - asset: assets/fonts/Inter-MediumItalic.otf
          weight: 500
          style: italic
        - asset: assets/fonts/Inter-Light.otf
          weight: 300
        - asset: assets/fonts/Inter-LightItalic.otf
          weight: 300
          style: italic
        - asset: assets/fonts/Inter-ExtraLight.otf
          weight: 200
        - asset: assets/fonts/Inter-ExtraLightItalic.otf
          weight: 200
          style: italic
        - asset: assets/fonts/Inter-Thin.otf
          weight: 100
        - asset: assets/fonts/Inter-ThinItalic.otf
          weight: 100
          style: italic
    - family: notoemoji_win
      fonts:
        - asset: assets/fonts/NotoColorEmoji_WindowsCompatible.ttf
    - family: notoemoji_unix
      fonts:
        - asset: assets/fonts/NotoColorEmoji-Regular.ttf

  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
