# Current Cart

Last Updated: {{.Updated.Format "2006-01-02 15:04:05" }}

{{template "cart-listing.tmpl" .}}

---
## Place Order
--form--
type="action" value="/placeOrder"
type="txtinput" label="Shipping Address" name="addr"
type="submit" label="Place Order"
--/form--


[Clear cart](/clearCart)

[Back to Index](/index.md)
