# Order Listing

{{if eq (len .Orders) 0 }}
User has not placed any orders!
{{end}}

{{range .Orders}}
  -  {{.PlacedTS}} - [{{.ID}}](/order/{{.ID}}) - {{.Status}}
{{end}}

[Back to Index](/index.md)
