Order ID: {{.ID}}
Order Date: {{.PlacedTS}}
Order Status: {{.Status}}
Exchange Rate: {{.ExchangeRate}}

{{if .ShipAddr }}
Shipping Address:
{{.ShipAddr.Name}}
{{.ShipAddr.Address}}
  {{if .ShipAddr.Address2 ne "" }}
{{.ShipAddr.Address2}}
  {{end}}
{{.ShipAddr.City}}, {{.ShipAddr.State}}, {{.ShipAddr.PostalCode}}
  {{if .ShipAddr.Phone ne "" }}
{{.ShipAddr.Phone}}
  {{end}}
{{end}}

{{range .Cart.Items}}
  - {{.Product.SKU}} - {{.Product.Title}} - {{.Quantity}} units - {{.Product.Price}}/unit
{{- end}}

{{range .Comments}}
{{if .FromAdmin}}
<- {{.Timestamp}} - {{.Comment}}
{{else}}
-> {{.Timestamp}} - {{.Comment}}
{{end}}
{{end}}

## Add Comment
--form--
type="action" value="/orderaddcomment/{{.ID}}"
type="txtinput" label="New comment" name="comment" value=""
type="submit" label="Add Comment"
--/form--

[Back to Orders](/orders)
