# {{ .Title }}

Tags: {{ .Tags }}

{{ .Description }}

Price: {{ .Price }}

---
## Add to Cart
--form--
type="action" value="/addToCart"
type="hidden" name="sku" value="{{.SKU}}"
type="intinput" label="Quantity" name="qty" value="1"
type="submit" label="Add To Cart"
--/form--
---

[Back to the index](/)  [Cart](/cart)
