name: Build and Test Dart
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    name: Dart
    runs-on: ubuntu-latest
    steps:
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build clang libgtk-3-dev

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.25'

      - name: Setup Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          flutter-version: '3.38.0'

      - name: Check out source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Go generate
        working-directory: ./bruig
        run: go generate ./golibbuilder

      - name: Linux GUI build
        working-directory: ./bruig/flutterui/bruig
        run: flutter build linux
