name: Build and Test Dart
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    name: Dart
    runs-on: ubuntu-latest
    steps:
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build clang libgtk-3-dev

      - name: Set up Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 #v3.5.0
        with:
          go-version: '1.20'

      - name: Setup Flutter
        uses: subosito/flutter-action@dbf1fa04f4d2e52c33185153d06cdb5443aa189d #v2.8.0
        with:
          flutter-version: '3.10.3'

      - name: Check out source
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c #v3.3.0

      - name: Go generate
        working-directory: ./bruig
        run: go generate ./golibbuilder

      - name: Linux GUI build
        working-directory: ./bruig/flutterui/bruig
        run: flutter build linux
