name: Lint Go code
on: [push, pull_request]
permissions:
  contents: read

jobs:
  build:
    name: Lint Go code
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: '1.25'
      - name: Check out source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          install-mode: "goinstall"
          version: 9f61b0f53f80672872fced07b6874397c3ed197b # v2.7.2
